<div class="container mt-5">
  <h4 class="about-page-title">At Big Sky Lodges, we pride ourselves on our direct customer relationships. 
    Our dedicated booking site gives you complete control over your reservations. With a few clicks, you can effortlessly manage your bookings, explore rooms, make new reservations, and discover unique offerings at each branch. By cutting out third-party intermediaries, we save you money and provide a hassle-free experience for modifying or canceling reservations. Our enhanced room search ensures finding your perfect accommodations is a breeze. Experience convenience, personalization, and affordability with Big Sky Lodges.</h4>
  <div class="row">  
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="/images/Bahareh.jpeg" width="150" height="150" class="card-img-top" alt="Bahareh">
          <div class="card-body">
            <h5 class="card-title">Name: Bahareh Hosseini</h5>
            <p class="card-text">Email: bhmer.ir@gmail.com</p>

          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="/images/Eugene.jpg" width="150" height="150" class="card-img-top" alt="Eugene">
          <div class="card-body">
            <h5 class="card-title">Name: Eugene Ogbeide</h5>
            <p class="card-text">Email: eogbeide2@gmail.com</p>

          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="/images/Matthew.jpeg" width="150" height="150" class="card-img-top" alt="Matthew">
          <div class="card-body">
            <h5 class="card-title">Name: Matthew Gibson</h5>
            <p class="card-text">Email: mtgibson888@gmail.com</p>

          </div>
        </div>
      </div>
  </div>
</div>