<h1 class="text-center mb-4">Book a Room</h1>
<form id="booking-form" class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="check-in">Check-in date:</label>
      <input type="date" class="form-control" id="check-in" name="check-in" required>
    </div>
    <div class="form-group col-md-6">
      <label for="check-out">Check-out date:</label>
      <input type="date" class="form-control" id="check-out" name="check-out" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="room-type">Room Type:</label>
      <select id="room-type" name="room-type" class="form-select" required>
        <option selected>Open this select menu</option>
        <option value="single">Single</option>
        <option value="double">Double</option>
        <option value="suite">Studio</option>
        <option value="suite">Deluxe</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="num-guests">Number of Guests:</label>
      <select id="num-guests" name="num-guests" class="form-select" required>
        <option selected>Open this select menu</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="branch">Hotel Branch:</label>
      <select id="branch" name="branch" class="form-select" required>
        <option selected>Open this select menu</option>
        <option value="branch1">Bozeman</option>
        <option value="branch2">Missoula</option>
        <option value="branch3">Whitefish</option>
        <option value="branch4">Billings</option>
        <option value="branch5">Great Falls</option>
      </select>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Check Availability</button>
  </div>
</form>

<div id="available-rooms" class="container mt-4">
    <!-- Available rooms will be displayed here -->
</div>
