<section>
    <div>
        <div>
        <form action="#" method="post">
            <label for="checkin-date">Check-in Date:</label>
            <input type="date" id="checkin-date" name="checkin-date" required>

            <label for="checkout-date">Check-out Date:</label>
            <input type="date" id="checkout-date" name="checkout-date" required>
 
    <label for="num_guest">Number Of Guest:</label>
                <select id="num_guest" name="guests" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
          <button type="submit">Check Availability</button>
          </div>
           </div>  
      </form>
</section>