 <div class="row my-4">
        <div class="col-4 d-flex justify-content-center">
          <img src="https://via.placeholder.com/400x200.png" class="img-fluid">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="https://via.placeholder.com/400x200.png" class="img-fluid">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="https://via.placeholder.com/400x200.png" class="img-fluid">
        </div>
      </div>
      <div class="row my-4 justify-content-center">
        <div class="col-4 d-flex justify-content-center">
          <img src="https://via.placeholder.com/400x200.png" class="img-fluid">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="https://via.placeholder.com/400x200.png" class="img-fluid">
        </div>
      </div>