/* .navbar{
    color:rgb(157, 109, 245);
}
.custom-background{
    background-image:url("../images/The-Bolder-5093.jpg"),
    linear-gradient(to bottom right,rgb(102, 115, 116),rgb(236, 240, 37));
    background-size: cover;
    background-position: center;
}

.update-reservation-btn{
    padding: 8px 14px;
  background: rgb(116, 17, 173);
  color: #fff;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
}
.delete-reservation-btn{
    padding: 8px 14px;
    background: rgb(116, 17, 173);
    color:#fff;
    text-transform: uppercase;
    margin-right: 1rem;
    cursor: pointer;

}
#your-reservation{
    text-align: left;
}
button:hover{
    background: rgba(56, 15, 88, 0.5);
    transition: all 0.5s;
}
#reservation-detail{
    float: right;
    margin: left 15px;
    width:50%;
}
#card-title,#card-text,#card-descrip{
    color: black;
}
.card-img-top{
   width: 400px;
   height: 300px;
}
.card{
    height: 300px; */
/* } */
/**------------*/
.navbar{
    color:rgb(157, 109, 245);
}
.custom-background{
    background-image: url("/images/The-Bolder-5093.jpg"),
    linear-gradient(to bottom right,rgb(102, 115, 116),rgb(236, 240, 37));
    background-size: cover;
    background-position: center;
}

/*.dashboard-body{
    width: 500px;
    margin-left: 30rem;
    padding: 1rem;
}*/
.header-card{
    width: 100%;
    color:#fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: rgb(102, 115, 116);
}
.header-card h1, .header-card span{
    margin: 10px;
}
.reservation-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table{
    background: #fff;
    padding:1rem;
    text-align: left;
    border-radius: 10px;
}
table th{
    padding: 0.2rem 0.8rem;
    font-size: 15px;
}

.room-card-title{
    text-align:center;
    margin-top: 10px;
}

.custom-btn{
    width: 100px;
}
.dashboard{
    color:white;
    text-align: center;
}
#booking-title{
    padding-left: 20px;
}


.update-btn{
    padding: 8px 14px;
  background: rgb(116, 17, 173);
  color: #fff;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
}
.delete-btn{
    padding: 8px 14px;
    background: rgb(116, 17, 173);
    color:#fff;
    text-transform: uppercase;
    margin-right: 1rem;
    cursor: pointer;

}
#your-reservation{
    text-align: left;
}
button:hover{
    background: rgba(56, 15, 88, 0.5);
    transition: all 0.5s;
}
#reservation-detail{
    float: right;
    margin: left 15px;
    width:50%;
}
.card-title,.card-text{
    color: black;
}



.home_section{
    /* background-image: url(/public/images/branch3.jpeg); */
    background-size: cover;
    height: 80vh;
  }
  .overlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .home{
    width: 1100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home h1{
    margin-left: 20%;
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
  }
  .home span{
    color: rgb(228, 151, 8);
    text-align: center;
  }
.home{
    width: 1100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home h1{
      font-size: 4rem;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 5rem;

    }
    .home span{
      color: rgb(228, 151, 8);
    }
label{
    font-size: 25px;
}
#book-now{
    margin-top: 4rem;
    display: flex;
   justify-content: center;
  border-radius: 50px;
}
#all-bookings-wrapper{
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 15px;
  }
  .booking-form-wrapper {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
